header {
    background: var(--blanco, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    margin-left: 50px;
    width: calc(100% - 50px);
}

aside {
    background-color: #2F647E;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.icons {
    margin-top: 100px;
}

.icons img:nth-child(1) {
    margin-bottom: 20px;
}

.fundacion img:nth-child(1) {
    width: 120px;
    height: 18px;
}

.estadisticasIcon{
    height: 30px;  
}

.submenu p {
    margin-bottom: 0;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.breadcrumb p, .filtros {
    color: var(--Texto, #53565A);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.breadcrumb p:nth-child(2){
    color: var(--Texto, #53565A);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.bellIcon {
    position: relative;
    display: inline-block;
}

.bellIcon img {
    display: block;
    width: auto;
    height: auto;
}

.bellIcon .badge {
    position: absolute;
    top: 0;
    right: -20;
    transform: translate(50%, -50%);
}

.usuarioIcono {
    border-radius: 6px;
    background: #2F647E;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}



.usuario, .chatbotAyuda, .bellIcon {
    margin-right: 20px;
}

.rightMenu p{
    color: var(--Texto, #53565A);
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.417px;
}

.popoverFecha, .ojoIcon, .salidaIcon img, .entradaIcon img{
    cursor: pointer;
}

.tablaPrincipal{
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}


.tablaPrincipal th, .table-container th{
    background-color: #85BECE;
    color: white;
    text-align: center;
}

.tablaPrincipal td, .table-container td{
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis;
    max-width: 50px;    
    user-select: none; 
}

.details {
    display: none;
  }

  #dataTable > tbody > tr > td > table > tbody > tr > td:first-child {
    background-color: #85BECE;
    color: white;
    font-weight: bold;
    width: 25%;
}

.estadoCircleFill{
    display: flex;
    align-items: center;
    justify-content: start;
}

.details .estadoCircleFill{
    display: flex;
    align-items: center;
    justify-content: center;
}


  .toggle-details{
    font-size: 10px;
  }
  .table-container {
    display: none;
    text-align: center;
  }


.estadoTabla{
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.searchDiv input{
    width: 100px !important;
}

.searchDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor{
    width: 90%;
    margin-left: 100px;
    margin-top: 40px !important;
}

.offCanvasSubHeader p, .fechaInicioFin p, .volverGestor p{
    color: #7B7B7B;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.offcanvas.offcanvas-end{
    width: 50%;
}

.aulaVirtual{
    white-space: nowrap;
}

.sesionesTexto p{
    color: #A1A1A1;
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

nav, .tablaAlumnosContenedor{
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    --bs-nav-tabs-border-width: none;
  }
  
  .nav-tabs .nav-link {
    white-space: nowrap;
    margin-right: 0.5rem;
    color: #7B7B7B;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }

  .nav-link.active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    border-radius: 10px;
    pointer-events: none;
  }
  
  .nav-container::-webkit-scrollbar {
    display: none;
  }


.input-group-text{
    background-color: #85BECE;
}

.formAcciones input,
.formAcciones select,
.formAcciones input:focus,
.formAcciones select:focus,
.formAcciones textarea,
.formAcciones textarea:focus {
    background-color: #F5F5F5;
}

.form-floating{
    width: 200px;
}

.modal-content {
    height: auto;
    min-height: 50vh;
}

.modal-header{
    border-bottom: none !important;
}

.formAcciones label{
    color: #2F647E !important;
    opacity: inherit !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#urlModal .modal-header,
#modalTeleformacion .modal-header,
#modalAulaVirtual .modal-header {
    background-color: #2F647E;
}

#urlModal .modal-title,
#modalTeleformacion .modal-title,
#modalAulaVirtual .modal-title {
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#urlModal .modal-body{
    background-color: #F6F8FB;
}

.formacionTitle, .teleformacionTitle, .aulaVirtualTitle{
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#urlModal th, #modalTeleformacion th, #modalAulaVirtual th{
    background-color: #85BECE;
    color: white;
    text-align: center;
    white-space: nowrap;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#urlModal td, #modalTeleformacion td, #modalAulaVirtual td{
    text-align: center;
    white-space: nowrap;
}

.formacionEjecucion,
.formacionFinalizadas{
    background-color: white;
    padding: 20px;
}

.modal-xxl{
    max-width: 1800px;
}


.accionFormativa{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: start !important;

}

.grupo{
    color: #51AC34;
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.fechaInicio, .fechaFinal, .modalidad{
    color: var(--gris, #636363);
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.acceso{
    color: #51AC34 !important;
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
    cursor: pointer;
}

.informe {
    color: #51AC34 !important;
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-decoration-line: underline;
    cursor: pointer;

}

.passed{
    color: #51AC34 !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tablaAulaVirtual tr:last-child, .tablaTeleformacion tr:last-child{
    background-color: #F1F1F1;
}

.tablaAulaVirtual,
.tablaTeleformacion{
    overflow-x: auto;
}


#tableBodyTeleformacion > tr:nth-child(4) td{
    background-color: #F1F1F1 !important;
}

#tableBodyTeleformacion > tr:nth-child(4) td:nth-child(1),
#tableBodyTeleformacion > tr:nth-child(4) td:nth-child(2),
#tableBodyTeleformacion > tr:nth-child(1) td:nth-child(1),
#tableBodyTeleformacion > tr:nth-child(2) td:nth-child(1),
#tableBodyTeleformacion > tr:nth-child(3) td:nth-child(1),
#tableBodyTeleformacion > tr:nth-child(1) td:nth-child(3),
#tableBodyTeleformacion > tr:nth-child(1) td:nth-child(4),
#tableBodyTeleformacion > tr:nth-child(1) td:nth-child(11),
.colorNegro{
    color: #585858;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} 

#tableBodyTeleformacion > tr:nth-child(1) td:nth-child(2),
#tableBodyTeleformacion > tr:nth-child(2) td:nth-child(2),
#tableBodyTeleformacion > tr:nth-child(3) td:nth-child(2){
    color: #DF1517;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.colorVerde{
    color: #51AC34 !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.colorRojo{
    color: #DF1517 !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.colorGris{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
}

.clickable {
    cursor: pointer;
}

.nav-link.active{
    color: #2F647E !important;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 3px solid #2F647E !important;
}

.tagInput{
    padding: 10px;
    width: 75%;
    border-radius: 7px;
}

.certificadoProfesional, .telefonica, .ahora{
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.certificadoProfesional{
    background-color: #636363;
}

.telefonica{
    background-color: #F9C200;
}

.ahora{
    background-color: #E95F61;
}

.tagInput{
    background-color: #F5F5F5;
}

nav {
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    --bs-nav-tabs-border-width: none;
  }
  
  .nav-tabs-grupo .nav-link {
    white-space: nowrap;
    margin-right: 0.5rem;
    color: #7B7B7B;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }

  .nav-link.active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -3px;
    border-radius: 10px;
    pointer-events: none;
  }
  
  .nav-container::-webkit-scrollbar {
    display: none;
  }

  .labelFechaInicioGrupo, .labelFechaFinGrupo, .labelDesdeGrupo, .labelHastaGrupo{
    background-color: white;
    border: none;
  }

  .inputGrupoPresencial{
    background-color: #F5F5F5;
  }

.daySelector div.selected, .daySelectorCalendario div.selected{
    border-radius: 7px;
    border: 0px solid #2F647E;
    background-color: #2F647E;
    width: 36px;
    padding: 7px 14px;
    cursor: pointer;
    user-select: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .daySelector div, .daySelectorCalendario div {
    background-color: #F5F5F5;
    color: #2F647E;
    width: 36px;
    padding: 7px 14px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

}

.inputsGrupoForm input{
    background-color: #F5F5F5;
}

.inputsGrupoForm label{
    white-space: nowrap;
}

.tablaComunicaciones th, .tablaAlumnos th, .tablaProfesores th{
    color: white;
    background-color: #85BECE;
}

.validacion img{
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}

.pillPendiente{
    border-radius: 50px;
    background-color: #DF1517;
    display: flex;
    width: 96px;
    height: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    padding: 12px;
    user-select: none;
    color: var(--blanco, var(--blanco, #FFF));
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tablaAlumnos th, .tablaProfesores th{
    white-space: nowrap;
}

.wide-column {
    min-width: 80px;
}

.wide-column select{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 7px;
    background-color: #F5F5F5;

}

.appP p{
    white-space: nowrap;
}

.documentsProfesores img{
    cursor: pointer;
}

.horasDiferencia{
    margin-top: 17%;
}

.calcular, .calcular:hover, .calcular:focus{
    border-radius: 30px;
    border: 1px solid var(--Principal, #2F647E);
    background: var(--blanco, #FFF);
    color: var(--Principal, #2F647E);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.guardar, .guardar:focus{
    border-radius: 30px;
    background: var(--Principal, #2F647E) !important;
    color: var(--blanco, var(--blanco, #FFF)) !important;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.calcular, .calcular:hover, .calcular:focus {
    color: var(--Principal, #2F647E) !important;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid var(--Principal, #2F647E);
    background: var(--secundario, #85BECE);
}
.guardarModulos, .guardarModulos:hover, .guardarModulos:focus{
    color: var(--blanco, var(--blanco, #FFF)) !important;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    background: var(--Principal, #2F647E) !important;
}

.calendarioDerecha .nav-link.active{
    border-radius: 3px;
    background: var(--Principal, #2F647E);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: white !important;
    padding: 3px 6px;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.calendarioDerecha .nav-link {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    color: #898989 !important;
    padding: 3px 6px;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.calendarioModoTabla{
    user-select: none;
}

.boxTabla{
    border-radius: 2px;
    background: #ECECEC;
    width: 115px;
    height: 110px;
    flex-shrink: 0;
    position: relative;
}

.checked{
    background: #C1E9F4;
}

.diasFechas p:nth-child(1){
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.diasFechas p:nth-child(2){
    color: #A1A1A1;
    text-align: right;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.cell-content .form-check-input:checked {
    background-color: #2F647E;
    border-color: #2F647E;
}

.hidden {
    display: none !important;
}

.additional-content {
    width: 100%;
}

.additional-content input{
    border-radius: 2px;
    border: 0.6px solid #85BECE;
    background: #FFF;
    display: flex;
    padding: 1px 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #585858;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 35px;
    margin-left: 60px;
}

.additional-content{
    margin-bottom: 15px;
}

.mesAnterior, .mesSiguiente{
    color: #7B7B7B;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
    cursor: pointer;
}

.mesActual{
    color: #2F647E;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    user-select: none;
}

.tituloTabla img, .tituloTablaModoTabla img{
    cursor: pointer;
}

.tablaPillCalendario, .tablaModoTabla{
    border-radius: 4px;
    border: 1px solid #CCC;
    padding-top: 15px;
    overflow-x: auto;
}

.tablaModoTabla{
    padding: 15px;
}

.tablaModoTabla th{
    background-color: #F8F8F8;
}

.calendarioIzquierda label, .calendarioDerecha label{
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.formCalendarioIzquierda input, .formCalendarioIzquierda textarea, .formCalendarioIzquierda select{
    color: #898989;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputDias{
    margin-top: 8px;
}

.inputDias div,
.inputDias input,
.inputHoras div,
.inputHoras input,
.textareaResumen div,
.textareaResumen textarea {
    border-radius: 7px;
    border: 1px solid #C1E9F4;
    background: #C1E9F4;
}

.horarioMananaDesdeHasta select,
.horarioTardeDesdeHasta select,
.horasDiferencia input,
.descripcionHorarioTarde textarea,
.calendarioTopIzquierda select,
.input-group-text:nth-child(2) {
    background-color: #F5F5F5;
}

.selectCalendarioFechaTopIzquierda {
    margin-right: 8px;
}

.colspanThModoTabla th{
    color: var(--Principal, #2F647E);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.segundoTrModoTabla th{
    color: #585858;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
}

.special-day td{
    background-color: #F8F8F8;
    color: #E95F61 !important;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.normal-day{
    color: #636363;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.segundoTrModoTabla th{
    color: var(--Principal, #2F647E) !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.primerTrModoTabla th{
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    background: var(--Principal, #2F647E) !important; 
}

.tdPeriodo{
    color: var(--Principal, #2F647E);
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.primerTrModoTabla th:nth-child(1){
    width: 50px;
}

.tdIcono{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row1 td{
    border: 1px solid #D9D9D9;
    background: var(--fondo-color, #C1E9F4);
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.tablaVerModulos{
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.tdModulo, .tdTotal{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.tdPeriodo{
    color: var(--Principal, #2F647E);
    text-align: start;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.tdConsumo, .tdPresencial{
    color: var(--Principal, #2F647E) !important;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.horasInput{
    border-radius: 2px;
    border: 1px solid var(--secundario, #85BECE);
}

.modalMensaje .modal-content {
    height: auto;
    min-height: auto;
}

.tablaControl th, .tablaCuestionarioAlumnos th, .incidenciasTablaDiv th {
    background-color: #85BECE !important;
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid white;    
}

#envelopeAsistencia1, #envelopeAsistencia2{
    cursor: pointer;
}

.tdAlumno, .tdcertifica{
    color: #585858 !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tdporcentaje{
    color: #DF1517 !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tdpresencial1, .tdpresencial2{
    color: var(--verde, var(--verde, #74B160)) !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tdenvioEntrada1, .tdenvioEntrada2{
    color: #0074FF !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.horasInput{
    color: var(--gris, #636363) !important;
    text-align: center;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.realizado {
    border-radius: 50px;
    background: var(--verde, #74B160);
    color: var(--blanco, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 100%;
    height: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.pendiente {
    border-radius: 50px;
    background: #F97700;
    color: var(--blanco, #FFF);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 100%;
    height: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.tdicono,
.tdfechaInicio,
.tdarea,
.tdincidencia,
.tdusuarioIncidencia,
.tdareaIncidencia,
.tdobservaciones,
.tdfechaResolucion,
.tdusuarioResolucion{
    color: #585858;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tdestado{
    color: #0074FF !important;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.incidenciasTablaDiv tr div input{
    width: 80px;
    height: 16px;
    flex-shrink: 0;
    font-size: 12px;
}

.incidenciasTablaDiv{
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.notasTitle, .secondTableTitleToDo{
    background-color: #2F647E !important;
    color: white !important;
}

.notaClass, .notaClass:focus, .notaClass input, .notaClass input:focus{
    background: var(--fondo-color, #C1E9F4) !important;
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.clockDate{
    border-radius: 3px;
    background: var(--fondo-color, #C1E9F4);
    padding: 5px;
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.clockDateEnero{
    border-radius: 3px;
    background: var(--fondo-color, #DF1517);
    padding: 5px;
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}

.notaTexto, .notaTexto3, .notaTexto4{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.verMas{
    color: var(--Principal, #2F647E);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.estadoFechaUsuario div{
    width: fit-content;
}

.estadoFechaUsuario{
    width: auto;
}

.fechaToDo{
    display: flex;
    padding: 4px 4px;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border-radius: 3px;
    background: var(--blanco, #FFF);
    color: #898989;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputEstadoToDo select{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.inputEstadoToDo label{
    color: var(--blanco, #FFF);
    text-align: right;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0;
}

.crearGrupoActualizar p, .solicitudReglas p, .crearLMS p{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.thcrearGrupoActualizar, .thsolicitudReglas, .thcrearLMS{
    background-color: #F0F0F08F !important;
}

.toDoTablaDiv .form-check-input:checked {
    background-color: #51AC34 !important;
    border-color: #51AC34 !important;
}

.notaTexto3{
    text-decoration: line-through;
}

#tbodyCuestionario .tdnombre,
#tbodyCuestionario .tdapellido1,
#tbodyCuestionario .tdapellido2,
#tbodyCuestionario .tdfa,
#tbodyCuestionario .tdcert,
#tbodyCuestionario .tdporcentaje{
    color: var(--gris, #636363);
    text-align: right;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#tableBodyProfesores .tdnif,
#tableBodyProfesores .tdnombre,
#tableBodyProfesores .tdapellido1,
#tableBodyProfesores .tdapellido2,
#tableBodyProfesores .tdemail,
#tableBodyProfesores .tdtelefono,
#tableBodyProfesores .tdhoras,
#tableBodyProfesores .tdmodalidad{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#tableBodyProfesores .tdapp{
    color: var(--verde, var(--verde, #74B160));
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.profesorIcon{
    border-radius: 30px;
    background: var(--Principal, #2F647E);
    display: flex;
    width: 27px;
    height: 27px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.rightSubmenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start; 
    align-items: center;
}

@media (max-width: 1000px) {
    .rightSubmenu {
        flex-wrap: wrap;
        margin-left: 5px;
    }

    .btn2{
        margin-top: 5px;
    }

    .bottomForm, .rightMenuSignature, .botonesCalendarioIzquierda {
        flex-wrap: wrap;
    }

    #formularioSesion > div > div > div.modal-body.d-flex.align-items-center.justify-content-center.position-relative > img, .bottomMenuSignature img{
        width: 100%;
    }

    .rightMenuSignature{
        margin-top: 20px !important;
    }

    .phoneIcon{
        margin-bottom: 20px;
    }

    #modalFirma .modal-body{
        flex-direction: column;
    }

    .tablaPillCalendario, .tablaModoTabla{
        overflow-x: auto;
    }

    .calcular, .guardarModulos{
        white-space: nowrap;
    }

    .guardarModulos{
        margin-top: 5px;
    }

    #controlAsistenciaFirmado .modal-body img{
        width: 100%;
    }

    .inputGrupoPresencial{
        flex-wrap: nowrap !important;
    }

    .inputGrupoPresencial select{
        width: 100px !important;
    }
}

.rightSubmenu .btn1, .rightSubmenu .btn1:hover{
    border-radius: 4px;
    background: var(--Principal, #2F647E);
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25);
    color: white;
}

.rightSubmenu .btn2, .rightSubmenu .btn2:hover{
    border-radius: 4px;
    background: var(--verde, #74B160);
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25);
    color: white;
}

.leftSubmenu .form-select{
    width: fit-content;
}

.accionesGrupales{
    width: 200px;
}

#tablaModalPanelIcon .table>:not(:last-child)>:last-child>*{
    border-bottom-color: inherit;
}

.entradaIcon th, .salidaIcon th, .selectAll th{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.entradaNombre{
    color: #8D8D8D;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.entradaHora{
    color: #8D8D8D;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.oK{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pending{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sinApp{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.horaStatus{
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.datosPersonales p, .datosAsistenciaForm p{
    color: #898989;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#floatingSelect label, .form-floating label{
    color: var(--Principal, #2F647E) !important;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.guardarBtn .guardar{
    color: var(--blanco, #FFF) !important;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: fit-content;
    border-radius: 4px;
    background: var(--verde, #74B160) !important;
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25);
}

.botonFirmar{
    border-radius: 4px !important;
    background: var(--Principal, #2F647E) !important;
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25) !important;
    color: white !important;
    width: 95px;
    height: 42px;
}

.btnContainer{
    z-index: 1000;
}

#signature-pad {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 200px;
}
.signature-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.firmaQr{
    border-radius: 5px;
    background: var(--blanco, #FFF);
    box-shadow: 2px 2px 2px 2px rgba(134, 135, 135, 0.25);
    padding: 5px;

}

.firmaQrTitulo{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.firmaQrSubTitulo{
    color: var(--verde, #74B160);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.qrFirma{
    width: 220px;
}

#saveSignature{
    border-radius: 4px;
    background: var(--verde, #74B160);
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25);
    color: white;

}

#clearSignature{
    border-radius: 4px;
    background: var(--rojo, #E95F61);
    box-shadow: 1px 1px 2px 0px rgba(134, 135, 135, 0.25);
    color: white;
}

#modalFirma .modal-footer{
    border-top: none;
}

.participante, .curso, .firme{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.participanteNombre, .cursoNombre{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottomMenuSignature{
    border-radius: 5px;
    border: 1px solid rgba(233, 148, 150, 0.65);
    background: var(--fondos, #F2F2F2);
    margin-top: 10px;
}

.bottomMenuSignature img{
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
}

.topMenuSignature p{
    margin-bottom: 0;
}

.controlAsistenciaFirmado{
    width: 500px;
}

.modalContainer {
    overflow-x: auto;
}

.profesoresAdd p, .alumnosAdd p{
    color: #898989;
    text-align: center;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profesoresSearch p, .alumnosSearch p{
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.botonesAnadirExcel .btn, .botonesAnadirExcelAlumnos .btn{
    color: var(--Principal, #2F647E);
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 26px;
    border: 1px solid var(--Principal, #2F647E);
    background: var(--blanco, #FFF);
    width: 163px;
    height: 40px;
}

.btn, input, select{
    box-shadow: none !important;
}

.botonesAnadirExcel p, .botonesAnadirExcelAlumnos p{
    color: #646464;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tdAlumnosnombre,
.tdAlumnosapellidos,
.tdAlumnosnif,
.tdAlumnosestado,
.tdAlumnosasistencia{
    color: #636363;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.tdAlumnosapp .yes{
    color: var(--verde, var(--verde, #74B160)) !important;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}
.tdAlumnosapp .date{
    color: var(--verde, var(--verde, #74B160)) !important;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.tdAlumnosapp .no{
    color: var(--INCIDENCIA, #DF1517);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.inscrito{
    border-radius: 50px;
    background: #55AE39;
    display: flex;
    height: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: white;
    text-align: center;
    width: 100%;
    user-select: none;
}

.pdteValidar{
    display: flex;
    height: 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F97700;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0px 10px;
    user-select: none;
}

.tdComunicacion{
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.comunicadaCentro{
    color: #51AC34;
    text-align: right;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.tdValidacion1{
    color: #51AC34 !important;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#chatContainer {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background: #f9f9f9;
}
.messageContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    background: #e3e3e3;
    border-radius: 0px 4px 4px 0px;
    border-left: 2px solid var(--Principal, #2F647E);
    background: var(--blanco, #FFF);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);    
    width: fit-content;
}
.messageTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    padding: 5px 9px;
    align-items: center;
    gap: 10px;
    background-color: #CCC;
}

.messageTitle:nth-child(1){
    color: #1D1D1B;
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.messageTitle:nth-child(2){
    color: var(--gris, #636363);
    text-align: center;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.message {
    padding: 10px;
    margin-top: 5px;
    color: var(--gris, #636363);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
}

#chatContainer input[type="text"] {
    width: calc(100% - 120px);
    padding: 8px;
    border-radius: 23px 0px 0px 23px;
    border: 1px solid #CCC;
    background: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.botonEnviar, .botonEnviar:focus {
    cursor: pointer;
    display: flex;
    width: 76px;
    height: 26px;
    padding: 16px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 36px;
    background: var(--Principal, #2F647E) !important;
    color: var(--blanco, #FFF) !important;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.responder{
    color: var(--blanco, #FFF);
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 36px;
    background: var(--Principal, #2F647E);
    display: inline-flex;
    padding: 3px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: -10px;
    user-select: none;
    cursor: pointer;
}

.botonAdjuntar, .botonAdjuntar:focus{
    display: flex;
    width: 76px;
    height: 26px;
    padding: 16px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #7B7B7B !important;
    color: var(--blanco, #FFF) !important;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.anadirGrupo p, .copiarGrupo p{
    color: #898989;
    text-align: center;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.anadirCopiar img{
    cursor: pointer;
}

#grupo label{
    color: var(--Principal, #2F647E);
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.custom-select {
    position: relative;
    width: 248px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
}

.select-selected {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--TEXTO, #646464);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
}

.chevron-icon {
    transition: transform 0.3s ease;
}

.custom-select.open .chevron-icon {
    transform: rotate(180deg);
}


.select-items div, .select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #f1f1f1;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
    color: var(--TEXTO, #646464);
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-select-hide {
    display: none;
}

.subtituloEstadoColor p{
    color: #92A48D;
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 10px !important;
}

.foro, .tags p, .grupoForm p{
    color: #898989;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.hamburger-btn {
    display: none; 
    border: none;
    background: none;
    cursor: pointer;
}

#hamburger-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1024px) {
    .hamburger-btn {
        display: block; 
    }

    #hamburger-menu {
        display: none; 
        position: absolute;
        right: 0;
        top: 100%;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
        width: fit-content; 
    }

    #hamburger-menu.show {
        display: flex; 
        padding: 10px;
    }

    .selectGroup{
        flex-wrap: wrap;
        width: 100%;
    }

    .rightMenu > div:not(.hamburger-btn),
    .rightMenu > div:not(#hamburger-menu) {
        display: none; 
    }
}

.cp{
    cursor: pointer;
}

.volverGestor {
    display: none;
}

.noVolverGestor{
    display: none !important;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 97.5%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.leftMenu,
.rightMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fundacion img {
    max-width: 100%;
    height: auto;
}

.submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    min-width: 200px;
}

.submenu .breadcrumb,
.submenu .subheader {
    display: flex;
    flex-wrap: wrap;
}

.hamburger-content {
    display: none;
}

.tablaGestor .tablaMovil{
    display: none;
}

@media (max-width: 992px) {

    .tablaPrincipal {
        display: none;
      }
      .table-container {
        display: block;
      }

      .searchDiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table-container td {
        white-space: wrap !important;
        overflow: hidden;
        max-width: 25%;
        user-select: none;
        text-overflow: initial;

    }

    .leftMenu,
    .rightMenu {
        flex-direction: column;
        align-items: start !important;
        justify-content: start !important;
    }

    .hamburger-content {
        display: flex;
        position: absolute;
        right: 10px;
        left: 10px;
        top: 60px;
        background-color: #fff;
        width: 200px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        flex-direction: row;
        align-items: center;
    }

    .hamburger-btn[aria-expanded="true"] + .hamburger-content {
        display: flex;
    }

    .rightMenu {
        position: relative;
    }

    .subheader p:nth-child(2) {
        max-width: 300px;
    }

    .contenedor {
        width: 90%;
        margin-left: 48px;
        margin-top: 40px !important;
        display: flex;
    }
}

@media (min-width: 992px) {
    .tablaPrincipal {
      display: block;
    }
    .table-container {
      display: none;
    }
  }

.subheader p:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

